@using Microsoft.AspNetCore.Identity;
@model List<UserViewModel>

<div class="mb-4 row">
    <div>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="CreateUser">
            <i class='bx bx-plus-circle icon'></i>
            <span>Cтворити користувача</span>
        </a>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="card p-4 mb-4">
        <div class="row">
            <div class="col-md-2 row text-center align-self-center">
                <i id="user-avatar" class='bx bx-user-circle'></i>
            </div>

            <div class="col-md-4">
                <div>
                    <span>ID: @item.ID</span>
                </div>

                <div>
                    <span>Електронна пошта: @item.Email</span>
                </div>
            </div>

            <div class="col-md-2">
                <div>
                    <span>Ім'я: @item.FirstName</span>
                </div>
                <div>
                    <span>Прізвище: @item.LastName</span>
                </div>
            </div>

            <div class="col-md-2">
                @if (@item.Role == UserRoleViewModel.Admin)
                {
                    <span>Роль: Адмін </span>
                }
                else if (@item.Role == UserRoleViewModel.Manager)
                {
                    <span>Роль: Менеджер </span>
                }
                else if (@item.Role == UserRoleViewModel.Pharmacist)
                {
                    <span>Роль: Фарм-представник </span>
                }
            </div>

            <div class="col-md-2 row align-self-center text-center">
                <div>
                    <a class="btn btn-primary my-md-2" asp-area="Admin" asp-controller="User" asp-action="GetDetailedUser" asp-route-email="@item.Email">
                        <i class='bx bx-edit icon'></i>
                        <span>Редагувати</span>
                    </a>

                    <a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="RemoveUser" asp-route-id="@item.ID">
                        <i class='bx bx-trash icon'></i>
                        <span>Видалити</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
