@model CreateProductViewModel

<div class="card p-4 mb-4">
    <form method="post" asp-action="UpdateProduct" asp-controller="Product" asp-area="Pharmacist" enctype="multipart/form-data" asp-anti-forgery="true">
        <h2 class="text-center mb-4">Оновити дані продукту</h2>

        <div class="validation text-danger mx-2">
            <p>@ViewBag.UpdateProductErrorMessage</p>
        </div>

        <div class="row">
            <div class="col-6 mx-auto">
                <div class="mb-4">
                    <img class="card-img-top" src="@Model.PathToFile" alt="Product img." />
                </div>
            </div>
        </div>

        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <div class="col-12 mx-2 mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" name="ID" type="text" value="@Model.ID" hidden="">
                        <input class="form-control" name="PathToFile" type="text" value="@Model.PathToFile" hidden="">

                        <div class="mb-3 form-group row">
                            <label for="formFile" class="col-md-4 form-label">Завантажте зображення:</label>
                            <div class="col-md-8">
                                <input class="form-control" asp-for="Image" name="Image" type="file" id="formFile">
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Назва:</label>
                            <div class="col-md-8">
                                <input type="text" asp-for="Name" id="firstName" class="form-control" />
                                <span asp-validation-for="Name" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Опис:</label>
                            <div class="col-md-8">
                                <textarea class="form-control" asp-for="Description" rows="2" data-val="true" id="Description" maxlength="255" name="Description"></textarea>
                                <span asp-validation-for="Description" class="field-validation-error text-danger" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Тип:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.TypeID, new SelectList(ViewBag.Types, "ID", "Name"), "Оберіть тип:", new { @class = "form-select"})
                                <span asp-validation-for="TypeID" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Виробник:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.ManufacturerID, new SelectList(ViewBag.Manufacturers, "ID", "Name"), "Оберіть виробника:", new { @class = "form-select"})
                                <span asp-validation-for="ManufacturerID" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Ціна:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">₴</span>
                                    <input type="text" asp-for="Price" id="product-name" class="form-control" placeholder="0" />
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Count">Кількість:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" asp-for="Count" id="product-name" class="form-control"/>
                                    <span asp-validation-for="Count" class="field-validation-error text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4 mx-2">Оновити</button>
        }
        else
        {
            <div class="col-12 mx-2 mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Назва:</label>
                            <div class="col-md-8">
                                <input type="text" asp-for="Name" id="firstName" class="form-control" disabled="" />
                                <span asp-validation-for="Name" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Опис:</label>
                            <div class="col-md-8">
                                <textarea class="form-control" asp-for="Description" rows="2" data-val="true" id="Description" maxlength="255" name="Description" disabled="" ></textarea>
                                <span asp-validation-for="Description" class="field-validation-error text-danger" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Тип:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.TypeID, new SelectList(ViewBag.Types, "ID", "Name"), "Оберіть тип:", new { @class = "form-select", @disabled = ""  })
                                <span asp-validation-for="TypeID" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Виробник:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.ManufacturerID, new SelectList(ViewBag.Manufacturers, "ID", "Name"), "Оберіть виробника:", new { @class = "form-select", @disabled = "" })
                                <span asp-validation-for="ManufacturerID" class="field-validation-error text-danger" />
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Name">Ціна:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">₴</span>
                                    <input type="text" asp-for="Price" id="product-name" class="form-control" placeholder="0" disabled="" />
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="col-md-4 col-form-label" for="Count">Кількість:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" asp-for="Count" id="product-name" class="form-control" disabled="" />
                                    <span asp-validation-for="Count" class="field-validation-error text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row justify-content-center">
            <div class="col-6">
                <div id="characteristics-block">

                    <h2 class="text-center my-4">Характеристики</h2>

                    @foreach(var item in Model.Characteristics)
                    {
                        <div class="book-item row mb-3">
                            <div class="col-6">
                                <input type="text" asp-for="@item.Name" class="form-control" placeholder="Name"  disabled="" />
                            </div>

                            <div class="col-6">
                                <input type="text" asp-for="@item.Value" class="form-control" placeholder="Description" disabled="" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="card p-4 mb-4">
        <form method="post" asp-action="CreateOutputReportConfirmed" asp-controller="Report" asp-area="Pharmacist" asp-anti-forgery="true">
            <h2 class="text-center mb-4">Створити звіт про покупку</h2>

            <div class="validation text-danger mx-2">
                <p>@ViewBag.CreateOutputReportRequestErrorMessage</p>
            </div>

            <input class="form-control" name="productID" type="text" value="@Model.ID" hidden="">

            <div class="col-6 mx-2">
                <div class="mb-3 form-group row">
                    <label class="col-md-4 col-form-label" for="staffID">Працівник:</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.StaffID, new SelectList(ViewBag.Staff, "ID", "DropDownText"), "Оберіть працівника:", new { @class = "form-select"})
                        <span asp-validation-for="StaffID" class="field-validation-error text-danger" />
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label class="col-md-4 col-form-label" for="count">Кількість:</label>
                    <div class="col-md-8">
                        <input type="text" for="count" id="count" name="count" class="form-control" />
                        <span for="count" class="field-validation-error text-danger" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Додати</button>
            </div>
        </form>
    </div>
}
else
{
    <div class="card p-4 mb-4">
        <form method="post" asp-action="CreateOutputReportRequest" asp-controller="Report" asp-area="Pharmacist" asp-anti-forgery="true">
            <h2 class="text-center mb-4">Створити запит для звіту про покупку</h2>

            <div class="validation text-danger mx-2">
                <p>@ViewBag.CreateOutputReportRequestErrorMessage</p>
            </div>

            <input class="form-control" name="productID" type="text" value="@Model.ID" hidden="">

            <div class="col-6 mx-2">
                <div class="mb-3 form-group row">
                    <label class="col-md-4 col-form-label" for="staffID">Працівник:</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.StaffID, new SelectList(ViewBag.Staff, "ID", "DropDownText"), "Оберіть працівника:", new { @class = "form-select"})
                        <span asp-validation-for="StaffID" class="field-validation-error text-danger" />
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label class="col-md-4 col-form-label" for="count">Кількість:</label>
                    <div class="col-md-8">
                        <input type="text" for="count" id="count" name="count" class="form-control" />
                        <span for="count" class="field-validation-error text-danger" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Додати</button>
            </div>
        </form>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="card p-4 mb-4">
        <form method="post" asp-action="CreateInputReport" asp-controller="Report" asp-area="Pharmacist" asp-anti-forgery="true">
            <h2 class="text-center mb-4">Додати продукт на склад</h2>

            <div class="validation text-danger mx-2">
                <p>@ViewBag.CreateInputReportErrorMessage</p>
            </div>

            <input class="form-control" name="productID" type="text" value="@Model.ID" hidden="">

            <div class="col-4 mx-2">
                <div class="mb-3 form-group row">
                    <label class="col-md-4 col-form-label" for="count">Кількість:</label>
                    <div class="col-md-8">
                        <input type="text" for="count" id="count" name="count" class="form-control" />
                        <span for="count" class="field-validation-error text-danger" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Додати</button>
            </div>
        </form>
    </div>
}

@section  Scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
