@using Microsoft.AspNetCore.Identity;
@using PharmaFlow.Web.Areas.Pharmacist.ViewModels.MedicalFacilities;
@model List<MedicalFacilityViewModel>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="mb-4 row">
        <div>
            <a class="btn btn-primary" asp-area="Manager" asp-controller="MedicalFacility" asp-action="GetMedicalFacilityCharacteristicPanel">
                <i class='bx bx-plus-circle icon'></i>
                <span>Додати характеристики</span>
            </a>
        </div>
    </div>
}

@foreach (var item in Model)
{
    <div class="card p-4 mb-4">
        <div class="row">
            <div class="col-md-1 row text-center align-self-center">
                <i id="user-avatar" class='bx bx-building-house'></i>
            </div>

            <div class="col-md-3">
                <div class="row text-center align-self-center">
                    <div>
                        <span>Назва: @item.Name</span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="row text-center align-self-center">
                    <div>
                        <span>Тип: @item.TypeName </span>
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <div class="col-md-3">
                    <div class="row text-center align-self-center">
                        <div>
                            <span>Адреса: @item.Address</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="row text-center align-self-center">
                        <div>
                            <span>Адреса: @item.Address</span>
                        </div>
                    </div>
                </div>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <div class="col-md-3 row align-self-center text-center">
                    <div>
                        <a class="btn btn-primary my-md-2" asp-area="Manager" asp-controller="MedicalFacility" asp-action="UpdateProductPanel" asp-route-id="@item.ID">
                            <i class='bx bx-edit icon'></i>
                            <span>Деталі</span>
                        </a>

                        <a class="btn btn-danger" asp-area="Manager" asp-controller="MedicalFacility" asp-action="RemoveMedicalFacilityByID" asp-route-id="@item.ID">
                            <i class='bx bx-trash icon'></i>
                            <span>Видалити</span>
                        </a>
                    </div>
                </div>
            }
        </div>

        <button class="btn btn-light mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Працівники
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="mb-2 row">
                    <div>
                        <a class="btn btn-primary" asp-area="Pharmacist" asp-controller="MedicalFacility" asp-action="AddMedicalFacilityContact">
                            <i class='bx bx-plus-circle icon'></i>
                            <span>Додати працівника</span>
                        </a>
                    </div>
                </div>

                <table class="table table-hover">

                    <thead>

                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Ім'я</th>
                            <th scope="col">Прізвище</th>
                            <th scope="col">Імейл</th>
                            <th scope="col">Номер телефону</th>
                            <th scope="col">Посада</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var contact in item.Staff)
                        {
                            <tr class="table-light">
                                <th scope="row">@contact.ID</th>
                                <td>@contact.FirstName</td>
                                <td>@contact.LastName</td>
                                <td>@contact.Email</td>
                                <td>@contact.Phone</td>
                                <td>@contact.PositionName</td>
                                <td>
                                    <div>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                        {
                                            <a class="text-danger text-decoration-none mx-3" asp-area="Manager" asp-controller="MedicalFacility" asp-action="RemoveMedicalFacilityContactByID" asp-route-id="@contact.ID">Видалити</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
}
